@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .transitionL {
    @apply transition ease-in-out duration-300;
  }
}

body {
  color: #121212;
  background: #fff;
  position: relative;
}

aside::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

aside::-webkit-scrollbar-thumb {
  background: #464455;
  border-radius: 30px;
}
