.flexCol {
  display: flex;
  flex-direction: column;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.flexRow {
  display: flex;
  align-items: center;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-size: clamp(1.4rem, 2vw + 2px, 2rem);
}
